body {
	font-size: 0.8em;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif; 
	font-weight: 300;
	letter-spacing: 0.1em;
	
	h1 {
		font-size: 1.5em;
		font-weight: 300;
	}
	
	h2 {
		font-size: 1.5em;
		font-weight: 300;
	}
	
	div.wrapper {
		display: block;
		margin: auto;
		margin-top: 50px;
		width: 75%;
		
		div.top, div.content, div.footer {
			padding: 10px 20px;
		}
		
		div.top {
			
			border-bottom: 1px solid #DDD;
			
			
			
			
			.title-name h1 {
				font-size: 2em;
				font-weight: 300;
				letter-spacing: 0.2em;
				padding-right: 50px;
				
			}
			
			.title-links {
				visibility: hidden;
				margin-top: 1.7em;
				ul {
					text-align: center;
				}
			}
		}
		
		div.content {
			margin-left: 3px;
			padding-top: 30px;
			padding-bottom: 50px;
			
			
		}
		
		div.footer {
			border-top: 1px solid #DDD;
			
			.copyright p {
				font-size: 0.8em;
				color: #555;
			}
			.social {
				font-size: 0.9em;
				
				ul {
					text-align: center;
				}
			}
		}
	}
}



/*
// Smartphones (landscape)
@media only screen 
and (min-width : 321px) {

}

// Smartphones (portrait)
@media only screen 
and (max-width : 320px) {

}

// iPads (portrait and landscape)
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

// iPads (landscape)
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

// iPads (portrait)
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

// Desktops and laptops
@media only screen 
and (min-width : 1224px) {

}

// Large screens
@media only screen 
and (min-width : 1824px) {
}
*/